.heroRight{
   background-color: hsl(240, 100%, 5%);
   color: #ffff;
   padding: 10px;
}
.heading{
   font-size: 30px;
   margin: 0;
   color: hsl(35, 77%, 62%);
}
.heroRight-body{
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   gap: 20px;
}
.body-item>h5{
   margin: 0;
   padding: 0;
   text-transform: capitalize;
   transition: 0.5s;
}
.body-item>h5:hover{
   color: hsl(35, 77%, 62%);
}
.body-item>p{
   font-size: 12px;
   color: hsl(233, 8%, 79%);
}
.body-item>div{
   height: 1px;
   width: 100%;
   background-color: hsl(233, 8%, 79%);
}